@page
@model WebApp.Pages.Shoes.IndexModel
@inject IHttpContextAccessor Accessor;

@{
    ViewData["Title"] = "Товары";
}

<form method="get">
    <div>
        <div class="row">
            <div class="col-10">
                    <font>Поиск по описанию</font> <input type="text"
                           name="shoeDescription"
                           value="@Model.ShoeDescription"
                           placeholder="поиск..."
                           onchange="this.form.submit()"
                           class="form-control" />
                
                    <font>Производитель</font> <select class="form-control" 
                        asp-items="ViewBag.Makers"
                        asp-for="Maker"
                        name="maker"
                        onchange="this.form.submit()">
                    <option>
                        Все
                    </option>
                    </select>
                    <font>Максимальная цена</font> <input type="number"
                       name="maxPrice"
                       value="@Model.MaxPrice"
                       onchange="this.form.submit()"
                       class="form-control" />
            </div>

            <div class="col">
                <div style="display:flex; align-items:center; justify-content: center;">
                    <font style="font-size:30px">Со скидкой</font> <input type="checkbox"
                    name="IsDiscount"
                    asp-for="IsDiscount"
                    style="margin:5px;"
                    onchange="this.form.submit()"
                    class="form-check-input" />
                </div>
                <div style="display:flex; align-items:center; justify-content: center;">
                    <font style="font-size:30px">В наличии</font> <input type="checkbox"
                    name="IsInStock"
                    asp-for="IsInStock"
                    style="margin:5px;"
                    onchange="this.form.submit()"
                    class="form-check-input"/>
                </div>                      
            </div>
        </div>
    </div>

   <select class="form-control"
            onchange="this.form.submit()"
            name="sortColumn">
        <option value="name" selected="@(Model.SortColumn == "name")">
            По названию
        </option>
        <option value="vendor" selected="@(Model.SortColumn == "vendor")">
            По поставщику
        </option>
        <option value="price" selected="@(Model.SortColumn == "price")">
            По цене (дешевые)
        </option>
        <option value="price_desc" selected="@(Model.SortColumn == "price_desc")">
            По цене (дорогие)
        </option>
    </select>
</form>

@if(Model?.Shoe != null && Model.Shoe.Any())
{
@foreach (var item in Model.Shoe) {
    <div class="container">
        <div class="card" style="width:100%; margin:10px">
        <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="col text-center">
                @if(String.IsNullOrEmpty(item.PhotoName))
                {
                    <img src="~/img/picture.png" height="100" width="120"/>
                }
                else
                {
                    <img src="~/img/@Html.DisplayFor(modelItem => item.PhotoName)" height="100" width="120" />
                }
            </div>
            <div class="col">
                <b>@Html.DisplayFor(modelItem => item.Gender) |
                    @Html.DisplayFor(modelItem => item.Category.Name)</b><br />

                Описание товара: @Html.DisplayFor(modelItem => item.Description)<br />
                Производитель: @Html.DisplayFor(modelItem => item.Maker.Name)<br />
                Поставщик: @Html.DisplayFor(modelItem => item.Vendor.Name)<br />
                                
                @if(item.Discount != 0)
                {
                    <text>Цена <s>@Html.DisplayFor(modelItem => item.Price)</s>
                        @Html.DisplayFor(modelItem => item.DiscountPrice)<br /></text>
                }
                else
                {
                    <text>Цена: @Html.DisplayFor(modelItem => item.Price)</text><br />                    
                }
                
                Количество на складе: @Html.DisplayFor(modelItem => item.Quantity)
            </div>                
            <div class="col">
                    <div class="card opacity-100" style="background:@(item.Discount < 15 ? "white" : "#00FA9A");width:50%;justify-content:center;align-items:center">
                        <p>скидка</p> <p style="font-size:50px;align-items:center">@Html.DisplayFor(modelItem => item.Discount)</p>
                    
                        @if (Accessor.HttpContext.Session.GetString("Role") == "guest")
                        {
                            @if (item.Quantity == 0)
                            {
                                <input type="submit" disabled="disabled" class="btn btn-primary" style="background:gray" value="Нет на складе" />
                            }
                            else{
                            <form method="post" asp-page-handler="GuestOrder">
                                <input type="submit" class="btn btn-primary" value="Заказать" style="background:#00FA9A" />
                            </form>
                            }
                        }
                        else if (Accessor.HttpContext.Session.GetString("Role") == "client")
                        {
                            @if (item.Quantity == 0)
                            {
                                <input type="submit" disabled="disabled" class="btn btn-primary" style="background:gray" value="Нет на складе" />
                            }
                            else 
                            {
                                <form method="post" asp-page-handler="ClientOrder">
                                    <input type="hidden" asp-for="SelectedShoeId" value="@item.ShoeId" />
                                    <input type="submit" class="btn btn-primary" value="Заказать" style="background:#00FA9A" />
                                </form> 
                            }
                        }                          
                </div>
            </div>
        </div>
        </div>
    </div>
}
}
else
{
<div class="alert alert-info">
    <p>Нет товаров для отображения</p>
</div>
}